{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.925"}
        org.xerial/sqlite-jdbc {:mvn/version "3.46.0.0"}
        http-kit/http-kit {:mvn/version "2.7.0"}
        org.clojure/tools.logging {:mvn/version "1.2.4"}
        org.slf4j/slf4j-api {:mvn/version "2.0.9"}
        org.slf4j/slf4j-simple {:mvn/version "2.0.9"}
        ;; Moved from :test alias for CIDER REPL compatibility
        clj-time/clj-time {:mvn/version "0.15.2"}
        cheshire/cheshire {:mvn/version "5.13.0"}
        com.taoensso/timbre {:mvn/version "6.0.1"}}
 :aliases {:run {:main-opts ["-m" "sqlite-replicate.db"]}
           :service {:main-opts ["-m" "sqlite-replicate.service"]}
           :standby {:main-opts ["-m" "sqlite-replicate.standby"]}
           :test {:extra-paths ["test"]
                  :extra-deps {org.clojure/clojure {:mvn/version "1.12.0"}
                               org.clojure/test.check {:mvn/version "1.1.1"}
                               clj-http-lite/clj-http-lite {:mvn/version "0.3.0"}
                               org.clojure/data.json {:mvn/version "2.5.0"}}
                               ;; clj-time, cheshire, timbre moved to top-level :deps
                  :main-opts ["-m" "runner"]}
           :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.0"}}
                    :exec-fn deps-deploy.deps-deploy/deploy
                    :exec-args {:installer :remote}}
           :build {:paths ["."]
                   :ns-default build}}
 :pom-data {:lib 'net.clojars.zhaoyul/sqlite-replicate
            :version "0.1.1-SNAPSHOT"
            :description "A library for SQLite replication using Litestream and MinIO."
            :url "https://github.com/RedCreationTech/sqlite-replicate"
            :licenses [:license
                       {:name "Eclipse Public License"
                        :url "http://www.eclipse.org/legal/epl-v10.html"}]
            :developers [:developer
                         {:name "redcreation"
                          :email "hd@redcreation.cn"}]
            :scm {:url "https://github.com/RedCreationTech/sqlite-replicate"
                  :connection "scm:git:git://github.com/RedCreationTech/sqlite-replicate.git"
                  :developer-connection "scm:git:ssh://git@github.com/RedCreationTech/sqlite-replicate.git"
                  :tag "HEAD"}}}
